{% extends "base.html.twig" %}

{% block body %}
    <h1>Test Webpack</h1>
    <h2>Test CSS Webpack</h2>

    {% block stylesheets %}
        {{ encore_entry_link_tags('vue1') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('vue1') }}
    {% endblock %}
{% endblock %}
