{% extends 'base.html.twig' %}

{% block title %}Historique des Dépenses{% endblock %}

{% block body %}
    <h1>Historique des Dépenses</h1>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Total Journalier</th>
                <th>Total Mensuel</th>
            </tr>
        </thead>
        <tbody>
            {# Boucle sur les résultats de l'historique pour chaque jour #}
            {% for dailyTotal in dailyTotals %}
                <tr>
                    <td>{{ dailyTotal.date }}</td>
                    <td>{{ dailyTotal.total }}</td>
                    <td></td> {# Vous pouvez ajouter la valeur totale mensuelle ici plus tard #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
